# Ignore environment folders
env/
venv/
__pycache__/

# Ignore model and data files
*.h5
*.pkl
*.csv
*.sqlite3

# Ignore OS and editor files
.DS_Store
*.log
*.pyc

# Ignore IDE configs
.vscode/
.idea/
